@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}

.content {
  width: min(90%, 500px);
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100%;
  aspect-ratio: 5 / 2;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 24px;
  margin-top: -50px;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.nav {
  font-size: 11pt;
  line-height: 1;
  color: #13196e;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.nav:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: 600px) {

  html,
  body {
    overflow: hidden;
    touch-action: none;
  }

  .content {
    width: 92%;
    padding: 16px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .navigation-container {
    flex-direction: column;
    gap: 16px;
  }

  .nav {
    font-size: 14px;
  }

  .logo {
    margin-top: 0px;
  }

}